* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Common*/

/*Fine Common*/

/*Background*/
.background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#009688 20%, #d5dbd9 20%);
    position: relative;
}
/*Fine Background*/

/*CONTAINER*/
.container {
    width: 80%;
    height: 90%;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container::after {
    content: "";
    display: table;
    clear: both;
}
/* INIZIO NAV LEFT*/
.nav-left {
    width: 400px;
    height: 100%;
    float: left;
    background-color: yellow;
}
/*Identifier*/
.identifier {
    width: 100%;
    height: 70px;
    background-color: goldenrod;
}
/*Fine Identifier*/

/*Notifications*/
.notifications {
    width: 100%;
    height: 70px;
    background-color: indianred;
}
/*Fine Notifications*/

/*Research*/
.research {
    width: 100%;
    height: 70px;
    background-color: yellowgreen;
}
/*Fine Research*/

/*Chat*/
.chat {
    width: 100%;
    height: calc(100% - 210px);
    background-color: purple;
}
/*Fine Chat*/
/*FINE NAV LEFT*/

/*INIZIO SECTION OPEN CHAT*/
.section-open-chat {
    width: calc(100% - 400px);
    height: 100%;
    float: right;
    background-color: red;
}
/*Open chat User*/   
.open-chat-user {
    width: 100%;
    height: 70px;
    background-color: slateblue;
}
/*Chat message*/
.chat-message {
    width: 100%;
    height: calc(100% - (70px + 70px));
    background-color: aqua;
}
/*Fine Chat message*/

/*Message enter*/
.message-enter {
    width: 100%;
    height: 70px;
    background-color: black;
}
/*Fine Message enter*/

/*Fine open chat User*/     
/*FINE SECTION OPEN CHAT*/


/*FINE CONTAINER*/