* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Common*/
/*Padding*/
.p-right {
    padding-right: 10px;
}
/*Fine Padding*/
/*Fine Common*/

/*Background*/
.background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#009688 20%, #d5dbd9 20%);
    position: relative;
}
/*Fine Background*/

/*CONTAINER*/
.container {
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container::after {
    content: "";
    display: table;
    clear: both;
}
/* INIZIO NAV LEFT*/
.nav-left {
    width: 400px;
    height: 100%;
    float: left;
}
/*Identifier*/
.identifier {
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    border-right: 1px solid lightgray;
    display: flex;
}
.container-avatar {
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
}
.container-font-awesome {
    width: calc(100% - 220px);
    height: 100%;
    justify-content: end;
}
.container-avatar > img {
    margin: 10px 10px;
    width: 45px;
    height: 45px;
    border-radius: 50% 50%;
}
.identifier .container-name, .identifier .container-font-awesome {
    display: flex;
    align-items: center;
}
.container-font-awesome i {
    padding-right: 10px;
}

/*Fine Identifier*/

/*Notifications*/
.notifications {
    width: 100%;
    height: 70px;
    background-color: #85d2f5;
}
/*Fine Notifications*/

/*Research*/
.research {
    width: 100%;
    height: 40px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    display: flex;
}
.research input, .research button {
    font-size: 10px;
    height: 31px;
    background-color: white;
    border: none
}
.research button {
    width: 40px;
    border-right: 1px lightgray;
}
.research input {
    width: calc(100% - 40px)
}
/*Fine Research*/

/*Chat*/
.chat {
    width: 100%;
    height: calc(100% - (50px + 70px + 40px));
    background-color: whitesmoke;
    overflow-y: scroll;
}
.chat ul li {
    border-bottom: 1px solid lightgray;
    list-style-type: none;
    padding-left: 20px;
    height: 70px;
    display: flex;
    align-items: center;
}
.chat ul li img {
    width: 10%;
}
/*Fine Chat*/
/*FINE NAV LEFT*/

/*INIZIO SECTION OPEN CHAT*/
.section-open-chat {
    width: calc(100% - 400px);
    height: 100%;
    float: right;
}
/*Open chat User*/   
.open-chat-user {
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
}
/*Chat message*/
.chat-message {
    width: 100%;
    height: calc(100% - (60px + 50px));
    background-image: url("../img/mine.jpg");
}

/*Fine Chat message*/

/*Message enter*/
.message-enter {
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
}
/*Fine Message enter*/

/*Fine open chat User*/     
/*FINE SECTION OPEN CHAT*/


/*FINE CONTAINER*/