<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>BoolZapp</title>
</head>
<body>
    <div class="background">
        <main class="container" id="root">
            <nav class="nav-left">
<!--NOME PROFILO UTENTE-->
                <div class="identifier">
                    <div class="container-avatar">
                        <img src="img/avatar_io.jpg" alt="">
                        <span>{{ nome }}</span>
                        <span>{{ cognome }}</span>
                    </div>
                    <div class="container-font-awesome">
                        <i class="fas fa-circle-notch" style="color:gray"></i>
                        <i class="fas fa-comment-alt" style="color:gray"></i>
                        <i class="fas fa-ellipsis-v" style="color:gray"></i>
                    </div>
                </div>
<!--NOTIFICHE-->
                <div class="notifications">
                    
                </div>
<!--RICERCA CHAT-->
                <div class="research">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchChat" @keyUp="cercaPersone">
                </div>
<!--CHAT-->
               <div class="chat"> 
                    <ul v-for="(contact, index) in contacts" >
                        <li @click="userChat(index)" :class="(contact.visible) ? 'filtro' : 'hidden' ">
                            <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                            <div class="name-avatar">
                                <span>{{contact.name}}</span>
                                <span class="last-message">{{contact.messages[contact.messages.length - 1].message}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
<!--OPEN CHAT-->
            <section class="section-open-chat">
                <div class="open-chat-user">
                    <div class="container-user">
                        <img :src="'img/avatar' + contacts[contatore].avatar + '.jpg'" alt="">
                        <div>
                            <span class="nameUser">{{contacts[contatore].name}}</span>
                            <p class="write">{{staScrivendo}}</p>
                        </div>
                        
                    </div>
                    <div class="container-font-awesome">
                        <i class="fas fa-search" style="color:gray"></i>
                        <i class="fas fa-paperclip" style="color:gray"></i>
                        <i class="fas fa-ellipsis-v" style="color:gray"></i>
                    </div>
                </div>
                <div class="chat-message">
                    <div v-for="(contact,index) in contacts[contatore].messages">
                        <div :class="(contact.status == 'sent') ? 'message-sent ': 'message-received'">
                            <p>{{contact.message}}</p>
                            <p class="data">{{contact.date}}</p>
                        </div> 
                    </div>
                </div>
                <div class="message-enter">
                    <div class="emoticons">
                        <i class="far fa-smile-beam"></i>
                    </div>
                    <div class="click-message-enter">
                        <input type="text" placeholder="Scrivi messaggio" v-model="messageUserEnter" @keyUp.enter="pushMessageEnter">
                    </div>
                    <div class="microphone">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="js/contacts.js"></script>
</body>
</html>